<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../main.css">
    <title>To Do List</title>
</head>
<body>
    <div>
    <h1>To Do List</h1>
    <ul id="task-list">
        <li>Gym</li>
        <li>Shopping</li>
        <li>Get dog food</li>
        <li>Sort out Bills</li>
        <li>Feed the goldfish</li>
        <li>Drink enough water</li>
    </ul>
</div>
</body>
</html>